<h1>Editing help_message</h1>

<%= form_for(@help_message, as: :help_message) do |f| %>
  <%= error_messages(@help_message) %>

  <p>
    <%= f.label :page_name %><br />
    <%= f.text_field :page_name %>
  </p>
  <p>
    <%= f.label :message %><br />
    <%= f.text_area :message %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @help_message %> |
<%= link_to 'Back', geniverse_help_messages_path %>
