<%= form_for(unlockable, as: :unlockable) do |f| %>
  <% if @unlockable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unlockable.errors.count, "error") %> prohibited this unlockable from being saved:</h2>

      <ul>
      <% @unlockable.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render :partial => 'shared/form', :locals => {:object => unlockable, :f => f } %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
