<style type="text/css">
  .statsPadding {
    border: none;
    border-collapse: collapse;
    border-spacing: 0px;
    display: table;
  }

  .statsPadding th {
    padding: 3px;
    border: 1px solid black;
    margin: 0px;
  }

  .statsPadding td {
    padding: 3px;
    border: 1px solid black;
    margin: 0px;
  }
</style>

<h1>Breeding Record</h1>

<h3>Bred by <%=h @dragon.user.first_name %> <%=h @dragon.user.last_name %></h3>

<table>
  <tr>
      <th>
          Mother
      </th>
      <th>
          Father
      </th>
      <th>
          Offspring
      </th>
      <th>
          Time
      </th>
  </tr>


<% 

  siblings = @dragon.siblings
  
  siblings.unshift(@dragon)
    
%>


  <tr>
    <td style="padding: 10px">
      <% if @dragon.mother != nil %>
        <img src='<%=h @dragon.mother.imageURL %>' style='width: 120; height: 120;'/>
      <% else %>
        ?
      <% end %>
    </td>
    <td style="padding: 10px">
      <% if @dragon.father != nil %>
        <img src='<%=h @dragon.father.imageURL %>' style='width: 120; height: 120;'/>
      <% else %>
        ?
      <% end %>
    </td>
    <td>
      <table>
        <tr>
          <% (0..(siblings.length/2)-1).each do |i|
            sib = siblings[i]%>
            <td>
              <img src='<%=h sib.imageURL %>' style='width: 60; height: 60;'/>
            </td>
          <% end %>
        </tr>
        <tr>
          <% ((siblings.length/2)..siblings.length-1).each do |i|
            sib = siblings[i]%>
            <td>
              <img src='<%=h sib.imageURL %>' style='width: 60; height: 60;'/>
            </td>
          <% end %>
        </tr>
      </table>
    </td>
    <td><%=h Time.at(@dragon.breedTime.to_i/1000.0).strftime("Bred at %H:%M on %h %d, %Y") %></td>
  </tr>
  
  <% if @trait && @statistics %>
    <tr>
      <td></td>
      <td style="text-align: right; padding-right: 35px;">
        <b>Trait:</b> <%= @trait %>
      </td>
      <td>
        <table class="statsPadding">
          <tbody>
            <tr>
              <th style="border: none;"></th>
              <th colspan="3" style="border: none; color:purple">current clutch</th>
              <th style="border: none;"></th>
              <th colspan="3" style="border: none; color:purple">all clutches</th>
            </tr>
            <tr>
              <th style="border: none;"></th>
              <th>Total</th>
              <th>F</th>
              <th>M</th>
              <th style="border: none;"></th>
              <th>Total</th>
              <th>F</th>
              <th>M</th>
            </tr>

            <% @statistics[:current].each do |ch, current_vals| %>
              <% all_vals = @statistics[:all][ch] %>
              <tr>
                <th><%= ch %></th>
                <td style="text-align: left;"><%= current_vals[:total] %> (<%= current_vals[:percent] %>%)</td>
                <td><%= current_vals[:female] %></td>
                <td><%= current_vals[:male] %></td>
                <td style="border: none;"></td>
                <td style="text-align: left;"><%= all_vals[:total] %> (<%= all_vals[:percent] %>%)</td>
                <td><%= all_vals[:female] %></td>
                <td><%= all_vals[:male] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </td>
      <td>&nbsp;</td>
    </tr>
  <% end %>

</table>

<br />
